.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.main-nav a {
  color: white;
  text-decoration: none;
}
.me-auto {
  width: 20vw;
  display: flex;
  margin: 1rem auto ;
  gap: 5rem;
}
.nav-search {
  position: relative;
  /* margin-bottom: 2rem; */
  width: 10rem;
}
.nav-search form {
  margin: 0;
  padding: 0;
}
.search-title-btn {
  position: absolute;
  right: 0;
}
