:root {
  --color-low: hsl(134, 62%, 31%);
  --color-normal:  hsl(211, 100%, 43%);
  --color-critical: hsl(271, 76%, 53%);
  --color-solved: hsl(0, 0%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212, 62%, 96%);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;

  width: 1400px;
}

button {
  cursor: pointer;
}
