:root {
  --color-low: hsl(63, 62%, 31%);
  --color-normal: hsl(198, 100%, 43%);
  --color-critical: hsl(271, 76%, 53%);
  --color-solved: hsl(0, 0%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212, 62%, 96%);
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

#root {
  width: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.search-page-header {
  margin: 3rem 0;
}
.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  /* color: white; */
  display: grid;
  place-items: center;
}
.loading img {
  /* color: white; */
  width: 50vw;
}
button {
  cursor: pointer;
}
