* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212, 62%, 96%);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}
